<!DOCTYPE html>
<html>
<head>
	<title>kk</title>
</head>
<body>
    <div class="fle-nav">
        <div class="nav-logo">
            <%= image_tag(@topic.find_by(name:"logo_jinchengda_logo").avatar_url)%>
            <ul>
                <span><a href="#anchor">首页</a></span>
                <span><a href="#anchor2">公司简介</a></span>
                <span><a href="#anchor3">企业优势</a></span>
                <span><a href="#anchor4">案例展示</a></span>
                <span><a href="#anchor5">商务合作</a></span>
            </ul>
        </div>
    </div>
<!--  <div class="swiper-wrapper">
                    <a href="./index.html" class="swiper-slide" style="background-image: url(https://ss2.bdstatic.com/70cFvnSh_Q1YnxGkpoWK1HF6hhy/it/u=2625008281,94811485&fm=26&gp=0.jpg)" target="_blank"></a> 

                </div> -->
	<div class="flex-container">

        		

        <div class="flex-item flex-bg1">

        	<div id="box" >
                <a name="anchor"></a>
        			<div id="lbt">

        			<li class="lb"><%= image_tag(@topic.find_by(name:"banner_img").avatar_url)%></li>
        			<li class="lb"><%= image_tag(@topic.find_by(name:"banner2_img").avatar_url)%></li>		
        			</div>

        			 
        			<div class="btn" id="prev"><a name="anchor2"></a>prev</div>
        			<div class="btn" id="next">next</div>	
        	</div>
        </div>
        <div class="flex-item flex-bg2">
         	 <%= image_tag(@topic.find_by(name:"bannergsjj").avatar_url)%>
        	<div class="flex-itemgsjj">
        		<ul>
        			<div class="gsjj1" id="j1">公司简介</div>
        			<div class="gsjj2" id="j2">COMPANY PROFILE</div>
        		</br>
        			<div class="gsjj3" id="j3"><%=@versions.find(1).content%></div>
        		</ul>
        	</div>
        	<div class="flex-itemgsjj">

                <%=image_tag(@topic.find_by(name:"bannergongsijianjie").avatar_url)%>
        	</div>
           <a name="anchor3"></a>
        </div>
        <div class="flex-item flex-bg3">
            <%=image_tag(@topic.find_by(name:"bannerqyys").avatar_url)%>
			<div class="flex-itemqyys">
 					<ul>
 						<div class="qyys" id="q1">企业优势</div>
 						<div class="qyys" id="q2">ENTERPRISE ADVANTAGE</div>
 					</ul>
 				</div>       
			<div class="flex-itemqyys flex-itemqyyscontain1">
				<div class="flex-itemqyys1">
                     <%=image_tag(@topic.find_by(name:"enter_gaoxiaolv").avatar_url)%>
				</div>
				<div class="flex-itemqyys1">
					<%=image_tag(@topic.find_by(name:"enter_jingyanfengfu").avatar_url)%>
				</div>
				<div class="flex-itemqyys1">
                    <%=image_tag(@topic.find_by(name:"enter_jiagedi").avatar_url)%>
				</div>
			</div>       
			<div class="flex-itemqyys flex-itemqyyscontain2">
				<div class="flex-itemqyys2">
					<ul>
						<div class="qyys1">高效率</div>
						<div class="qyys2">高效、快速、高质量、高水平	</div>
					</ul>
				</div>
				<div class="flex-itemqyys2">
					<ul>
						<div class="qyys1">经验丰富</div>
						<div class="qyys2">专业团队、与时俱进、标准化开发流程</div>
					</ul>
				</div>
				<div class="flex-itemqyys2">
					<ul>
						<div class="qyys1">价格低</div>
						<div class="qyys2">物美价廉、价格公平透明</div>
					</ul>
                    <a name="anchor4"></a>
				</div>
			</div>       
     
		</div>
        <div class="flex-item flex-item1 flex-bg4">
        	<div class="flex-itemalzs1">
        	</br></br>
        		<ul>
        			<div class="alzs1">案例展示</div>
        			<div class="alzs2">CASE SHOW</div>
        			<div class="alzs3"><%=@cases.find_by(name:"案例展示").introduct%></div>
        		</ul>
        	</div>
        	<div class="flex-itemalzs2">
        		<div class="flex-itemlogo2 al">
                    <div class="al1">
                    <a href="" class="thumbnail">
                     <%=image_tag(@topic.find_by(name:"case_i-gouyoupin_logo").avatar_url)%>
                    </a>    
                    </div>
                    <div class="al2"><%=@cases.find_by(name:"案例展示").ishop%></div>
        		</div>
        		<div class="flex-itemlogo2 al">
                    <div class="al1">
        			<a href="#" class="thumbnail">
                        <%=image_tag(@topic.find_by(name:"case_chengzijie").avatar_url)%>
     			</a>
                    </div>
                    <div class="al2"><%=@cases.find_by(name:"案例展示").orange%></div>
        		</div>
        		<div class="flex-itemlogo2 al">
                    <div class="al1">
        			<a href="#" class="thumbnail">
                        <%=image_tag(@topic.find_by(name:"rishengmeizhuang").avatar_url)%>
        			</a>	
                    </div>
                    <div class="al2"><%=@cases.find_by(name:"案例展示").rsheng%></div>
        		</div>
        		<div class="flex-itemlogo2 al">
                    <div class="al1">
        			<a href="#" class="thumbnail">
                         <%=image_tag(@topic.find_by(name:"case_zhongyu").avatar_url)%>
        			</a>
                    </div>
                    <div class="al2"><%=@cases.find_by(name:"案例展示").law%></div>
					
        		</div>
        	
        	
        		<div class="flex-itemlogo2 al">
                    <div class="al1">
        			<a href="#" class="thumbnail">
                        <%=image_tag(@topic.find_by(name:"case_zhonghuiying").avatar_url)%>
        			</a>
                    </div>
                    <div class="al2"><%=@cases.find_by(name:"案例展示").wealth%></div>
					
        		</div>
        		<div class="flex-itemlogo2 al">
                    <div class="al1">
        			<a href="#" class="thumbnail">
                        <%=image_tag(@topic.find_by(name:"case_wantejuhe").avatar_url)%>
        			</a>
                    </div>
                    <div class="al2"><%=@cases.find_by(name:"案例展示").wangt%></div>
					
        		</div>
        		<div class="flex-itemlogo2 al">
                    <div class="al1">
        			<a href="#" class="thumbnail">
                        <%=image_tag(@topic.find_by(name:"case_xibaohui").avatar_url)%>
        			</a>
                    </div>
                    <div class="al2"><%=@cases.find_by(name:"案例展示").xibaohui%></div>
					
        		</div>
        		<div class="flex-itemlogo2 al">
                    <div class="al1">
        			<a href="#" class="thumbnail">
                        <%=image_tag(@topic.find_by(name:"case_quanbuanli").avatar_url)%>
					</a>
                    </div>
                    <div class="al2"><%=@cases.find_by(name:"案例展示").contact%></div>
                    <a name="anchor5"></a>
        		</div>
        	</div>
        </div>
        <div class="flex-item flex-item2 flex-bg5">
            <%=image_tag(@topic.find_by(name:"bannershangyehezuo").avatar_url)%>
        	<ul>
        		<div class="swhz1">商 业 合 作</div>
        		<div class="swhz2">BUSINESS COOPERATION</div></br>
        		<div class="swhz3">始终秉持与供应商优势互补、相互成就的合作理念，联系我们，成为金诚达的合作伙伴！</div></br>
        		<div class="swhz3">微信客服:OrangesStreet</div>
        		<div class="swhz3">邮箱：65289927@qq.com</div>
        		<div class="swhz3">公司地址：广州市天河区黄村北路26号D 区二楼60028室</div>
        	</ul>
        </div>

    </div>
    <nav class="fix">
			<div><span class="glyphicon glyphicon-plus icon"></span></div>
			<div><span class="glyphicon glyphicon-qrcode icon"></span></div>
			<div><span class="glyphicon glyphicon-star-empty icon"></span></div>
			<div><span class="glyphicon glyphicon-user icon"></span></div>
			<div><span class="glyphicon glyphicon-calendar icon"></span></div>
			<div><span class="glyphicon glyphicon-menu-up icon"></span></div>
	</nav>
</body>
</html>